

<div class="grid-container">
  <h3 class="mat-h1">Dashboard</h3>
  <strong>Num#:</strong> {{itemSvc.Items.length}}
  &nbsp;
  <strong>KeyWord:</strong> {{itemSvc.lastKeyword}}
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile *ngFor="let card  of itemSvc.Items " [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card"
         [ngStyle]="{'background-color': !!card.bookmark  ? 'gold' : 'white' }">
         <mat-card-header>
          <mat-card-title>
             <i *ngIf="card.bookmark" class="fa fa-bookmark" aria-hidden="true"></i>
             {{card.name}} 
                 
             <button mat-icon-button class="more-button" 
              [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="setBookmark(card,true)">LIKE</button>
              <button mat-menu-item (click)="setBookmark(card,false)">UNLIKE</button>
            </mat-menu>  
          </mat-card-title>
           <div mat-card-avatar 
            [ngStyle]="{'background-image' : card.owner.avatar_url , 'background-size': 'cover'}">
           </div>
          <mat-card-subtitle>{{card.full_name}}</mat-card-subtitle>  
        </mat-card-header>
          <img mat-card-image 
              src="{{card.owner.avatar_url}}" 
              alt="Photo of a Shiba Inu"
              style=" display: block;
                    max-width : 180px;
                    margin-left: auto;
                    margin-right: auto;">

              
         <mat-card-content class="dashboard-card-content">
          Type : {{card.owner.type}}
         </mat-card-content>  
         <mat-card-actions>
 
          <button mat-button (click)="setBookmark(card,true)">LIKE</button>
         <button mat-button (click)="setBookmark(card,false)">UNLIKE</button> 
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


